{% extends '::base.html.twig' %}

{% block title %}Mail Recipients{% endblock %}

{% block body %}
    <h1>View Recipients</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Subject</td>
                </tr>
            </thead>
            <tbody>
                {% for emailTemplate in emailTemplates %}
                <tr>
                    <td>{{ emailTemplate.name}}</td>
                    <td>{{ emailTemplate.subject }}</td>
                </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}