{% extends '::base.html.twig' %}

{% block title %}Mail Recipients{% endblock %}

{% block body %}
    <h1>View Recipients</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <td>Email</td>
                    <td>Last Name</td>
                    <td>First Name</td>
                </tr>
            </thead>
            <tbody>
                {% for recipient in recipients %}
                <tr>
                    <td>{{ recipient.emailAddress }}</td>
                    <td>{{ recipient.lastName }}</td>
                    <td>{{ recipient.firstName }}</td>
                    <td><a href="{{ path('remove_recipient', {'email' : recipient.emailAddress}) }}">Delete</a></td>
                </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}