<html>
<head>
    <title>IceMarkt</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include '::header.html.twig' %}
    <div class="container">

        <div class="starter-template">
            <h1>Welcome to IceMarkt!</h1>
            <p>The Open Source Marketing tool</p>
        </div>

    </div><!-- /.container -->

</body>

{% include '::footer.html.twig' %}
</html>
