<html>
<head>
    <title>IceMarkt</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include '::header.html.twig' %}
    <div class="container">

        {% if success %}
            <p>Uploaded!</p>
        {% else %}
            <p class="bg-danger">
                <strong>{{ error }}:</strong> {{ errMsg }}
            </p>
        {% endif %}

    </div><!-- /.container -->
</body>

{% include '::footer.html.twig' %}
</html>
